---
const today = new Date();
---

<footer>
  <div class="flex flex-col items-center text-gray-400 dark:text-gray-500 mb-2">
    <p>
      &copy; {today.getFullYear()} Matthew Gramigna
    </p>
    <a
      href="https://github.com/mgramigna/gramigna.dev"
      target="_blank"
      class="underline">Source Code</a
    >
  </div>
</footer>
